:root{
    --burl: hsla(34, 4%, 35%, 0.2);
    --dark: hsla(0, 0%, 11%, 0.2);
    --midDark: hsla(0, 0%, 45%, 0.2);
}

*{
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #e4c193;
    font-weight:bolder;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.error-message {
    padding: 12px;
    background-color: #2e2c2c;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 20px;
}
.bigCont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(90deg, var(--dark), var(--burl), var(--burl), var(--dark)), 
    url('../stylingPhotos/backgrounds/lostAndFoundBg.jpg');
    
    background-size: cover;
}

.box{
    transition: 1s;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 1%, 28%);
    min-height : 50%;
    width: 30%;
    border: 1px solid gray;
    box-shadow: 5px 5px 20px #000000;
    border-radius: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.active{
    display: flex;
}

input{
    border-radius: 5px;
    background-color: hsl(0, 2%, 37%);
    margin: 10px;
    padding: 2px;
}
input::placeholder{
    color: hwb(34 61% 4%);
}
select{
    background-color: #585858;
    transition: 1s;
}

button{
    margin: 15px;
    display: flex;
    justify-self: center;
    align-self: center;
    transition: 1s;
    padding: 5px;
    font-size: 15px;
    background-color: hsl(0, 3%, 40%);
    box-shadow: 2px 2px 2px #585858;
    border: 1px solid black;
    border-radius: 3px;
}

button:hover{
    transition: 1s;
    padding: 6px;
    font-size: 16px;
    background-color: hsl(0, 3%, 40%);
    box-shadow: 2px 2px 2px hsl(0, 0%, 51%);
    border: 1px solid #ebda7a;
    border-radius: 3px;
    margin: 25px;
    display: flex;
    justify-self: center;
    align-self: center;
}
h2{
    font-size: 25px;
    display: flex;
    justify-self: center;
    align-self: center;
    margin-bottom: 20px;
}

a:hover{
    color: hsl(34, 61%, 86%);
    cursor: pointer;
}